/*
  ============================================
  MINAS TIRITH - Light theme
  ============================================
*/

:root {
  /* Couleurs de fond */
  --background: var(--blanc-gondor-clair);
  --surface: var(--blanc-gondor);
  --surface-elevated: var(--gris-mithril-100);

  /* Couleurs principales */
  --primary: var(--gris-mithril-600);
  --primary-light: var(--gris-mithril-500);
  --primary-dark: var(--gris-mithril-700);

  /* Couleurs d'accent */
  --accent: var(--or-rohan-400);
  --accent-hover: var(--or-rohan-700);

  /* Couleurs de texte */
  --text-primary: var(--gris-mithril-900);
  --text-secondary: var(--gris-mithril-700);
  --text-muted: var(--gris-mithril-600);
  --text-inverse: var(--blanc-perle);

  /* Couleurs de bordure */
  --border: var(--gris-mithril-200);
  --border-light: var(--gris-mithril-100);

  /* Couleurs de liens */
  --link: var(--bleu-gis-mithril-400);
  --link-hover: var(--bleu-gis-mithril-500);

  /* Couleurs de code */
  --code-background: var(--gris-mithril-100);
  --code-text: var(--gris-mithril-950);
  /* --code-keyword: var(--or-rohan-500);
  --code-string: var(--vert-success-500);
  --code-function: var(--bleu-gis-mithril-600);
  --code-comment: var(--gris-mithril-400);
  --code-number: var(--rouge-mordor-600); */

  /* Variables pour personnalisation des blocs de code */
  --code-block-bg: var(--code-background);
  --code-block-border: var(--border);
  /* --code-block-text: var(--code-text); */
  /* --code-line-number-color: var(--text-muted); */
  /* --code-line-number-border: var(--border); */

  /* Couleurs de statut */
  --success: var(--vert-success-500);
  --warning: var(--or-rohan-500);
  --error: var(--rouge-mordor-600);
  --info: var(--bleu-gis-mithril-600);
}
