/*
  ============================================
  MORDOR - Thème des ténèbres - EASTER EGG
  ============================================
*/

.mordor {
  /* Couleurs de fond */
  --background: var(--gris-mithril-950);
  --surface: var(--gris-mithril-950);
  --surface-elevated: var(--gris-mithril-850);

  /* Couleurs principales */
  --primary: var(--rouge-mordor-600);
  --primary-light: var(--rouge-mordor-400);
  --primary-dark: var(--or-rohan-400);

  /* Couleurs d'accent */
  --accent: var(--rouge-mordor-600);
  --accent-hover: var(--rouge-mordor-400);

  /* Couleurs de texte */
  --text-primary: var(--rouge-mordor-700);
  --text-secondary: var(--rouge-mordor-500);

  /* Couleurs de liens */
  --link: var(--rouge-mordor-600);
  --link-hover: var(--rouge-mordor-400);
  --link-visited: var(--rouge-mordor-600);

  --border: var(--gris-mithril-800);
  --code-background: var(--gris-mithril-800);
  --code-text: var(--rouge-mordor-600);

  /* font family */
  --font-display: "UnifrakturCook", cursive;
  --font-sans: "Macondo Swash Caps", cursive;
  --font-mono: "Monaspace Krypton", monospace;
}
